

.gal1-col1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gal1-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

.gal1-col2 img {
  display: block;
  width: 100%;
  height: 100%;
}

.gal2 {
  display: grid;  
  grid-template-columns: 1fr 1fr;  
  gap: 10px;
   
}

.gal2 img {
  border-radius: 10px 10px 0px 0px;
}
.gal2-texto {
  display: grid;  
  grid-template-columns: 1fr 1fr;  
  gap: 10px; 
  margin-bottom: 40px;
  
}

.div-fundo {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}

.getthebest {
  background-color: rgb(156, 154, 154);
  margin-bottom: 40px;  
  padding: 20px;
}

.getthebest-email {
  width: 100%;
  height: 20px;
  
  background-color: white;
  border-radius: solid 1px black;
}



