@import 'menu.css';
@import 'main.css';

body {  
  margin: 0px;
  padding: 0px; 
  justify-items: center;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: aqua; */
  /* height: 100vh; */
}



h1 {
  margin: 0px;
  font-weight: normal;
  color: rgb(109, 108, 108);
}

.container-maior {
  display: grid;
  width: 1200px;        
  margin: 40 auto;
  background-color: rgb(234, 234, 238);
  justify-items: center;
  
}

.logo {
  font-size: 2.5rem;
  color: red;
}

.container-medio {
  display: grid;
  width: 1000px;  
  
 
  /* background-color: white; */  
}

.brincando {
 padding: 20px 0px 20px 0px; 
}

.container-medio h1 {
  margin-top: 20px;
}

img {
  display: block;
  max-width: 100%;  
  /* height: 400px; */
  object-fit: cover;
  border-radius: 10px;
  
}




